:root {
  /* Background colours */
  --clr-bg-gradient-1: hsl(252, 100%, 67%);
  --clr-bg-gradient-2: hsl(241, 81%, 54%);

  /* Circle */
  --clr-bg-gradient-3: hsla(256, 72%, 46%, 1);
  --clr-bg-gradient-4: hsla(241, 72%, 46%, 0);

  /* Primary colours: Results Section Scores */
  --clr-bg-transparency: 0.075;

  --clr-reaction-300: hsl(0, 100%, 67%);
  --clr-reaction-bg-300: hsla(0, 100%, 67%, var(--clr-bg-transparency));

  --clr-memory-bg-400: hsla(39, 100%, 56%, var(--clr-bg-transparency));
  --clr-memory-400: hsl(39, 100%, 56%);

  --clr-verbal-bg-600: hsla(166, 100%, 37%, var(--clr-bg-transparency));
  --clr-verbal-600: hsl(166, 100%, 37%);

  --clr-visual-bg-500: hsla(234, 85%, 45%, var(--clr-bg-transparency));
  --clr-visual-500: hsl(234, 85%, 45%);

  /* Secondary colours */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(221, 100%, 96%);
  --clr-neutral-300: hsl(241, 100%, 89%);
  --clr-neutral-300-trans: hsla(241, 100%, 89%, 0.5);
  --clr-neutral-800: hsl(224, 30%, 27%);

  --wd-mobile: 375px;
  --wd-desktop: 1440px;

  --fs-base: 18px;
  --ff-base: 'Hanken Grotesk', sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
  --fw-dark: 800;

}

/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  /* height: 100vh;
  height: 100dvh; */
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General styling */
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
  background-color: var(--clr-neutral-100);
}

h1 {
  font-size: var(--fs-base);
}


/* Utility classes */
.flex-group {
  display: flex;
  flex-wrap: wrap;
}

.flex-col-center {
  flex-direction: column;
  align-items: center;
}

/* Components */
.button {
  margin-top: 0.5rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: var(--clr-neutral-800);
  color: var(--clr-neutral-100);
}

main {
  height: 100%;
}

/* Bespoke Styles */
.result {
  height: 100%;
  --margin-top: -1.75rem;
  margin-top: var(--margin-top);
  text-align: center;
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "result-summary"
    "result-detail"
    "attribution"
  ;
}

@media screen and (min-width: 751px) {
  .result {
    margin-top: 0;
    grid-template-columns: auto 375px 375px auto;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
      ". . . ."
      ". result-summary result-detail ."
      "attribution attribution attribution attribution"
    ;
  }
}

/* Result summary section */
.result__summary {
  grid-area: result-summary;
  background: linear-gradient(var(--clr-bg-gradient-1), var(--clr-bg-gradient-2));
  border-radius: 2rem;

  color: var(--clr-neutral-100);
}

.result__summary-heading {
  padding-top: 3rem;
  padding-bottom: 1.5rem;

  color: var(--clr-neutral-300);
  font-weight: var(--fw-bold);
}

.result__circle {
  --circle-diam: 8.5rem;

  height: var(--circle-diam);
  width: var(--circle-diam);

  padding: 1.75rem;
  border-radius: 50%;
  background: linear-gradient(var(--clr-bg-gradient-3), var(--clr-bg-gradient-4));

  line-height: 1.2;
}

.overall-score {
  font-size: 3.5rem;
  font-weight: var(--fw-dark);
}

.of-100 {
  font-size: calc(var(--fs-base) * .85);
  color: var(--clr-neutral-300-trans);
}

.result__title {
  padding-block: 1.5rem 0.5rem;

  font-size: calc(var(--fs-base) * 1.25);
}

.result__commentary {
  padding-inline: 3rem;
  padding-bottom: 2.25rem;

  font-size: calc(var(--fs-base) * .9);
  color: var(--clr-neutral-300);
}

/* Detail scores  styles */
.result__detail {
  grid-area: result-detail;
  display: grid;

  margin-top: 1rem;
  padding-inline: 1.5rem;
}

.result__detail-heading {
  margin-bottom: 1rem;
  padding-block: .25rem;
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  text-align: left;
}

.slash-100 {
  color: var(--clr-neutral-300);
}

.result__detail-area {
  justify-content: space-between;

  margin-bottom: 1rem;
  border-radius: .5rem;
  padding: .9rem 1.5rem;
}

.icon {
  padding-right: 0.5rem;
  display: inline-block;
}

/* Reaction styles */
.reaction {
  background: var(--clr-reaction-bg-300);
}

.reaction p {
  color: var(--clr-reaction-300);
}

/* Memory styles */
.memory {
  background: var(--clr-memory-bg-400);
}

.memory p {
  color: var(--clr-memory-400);
}

.memory p::before {
  background-image: url('/assets/images/icon-memory.svg');
}

/* Verbal styles */
.verbal {
  background: var(--clr-verbal-bg-600);
}

.verbal p {
  color: var(--clr-verbal-600);
}

.verbal p::before {
  background-image: url('/assets/images/icon-verbal.svg');
}

/* visual styles */
.visual {
  background: var(--clr-visual-bg-500);
}

.visual p {
  color: var(--clr-visual-500);
}

.visual p::before {
  background-image: url('/assets/images/icon-visual.svg');
}

.attribution {
  grid-area: attribution;
  justify-content: center;

  margin-top: auto;

  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}